<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/resources/**" security="none"/>
    <http pattern="/webjars/**" security="none"/>
    <!--<http pattern="/rest/**" security="none"/>-->

    <beans:bean id="passwordEncoder" factory-method="createDelegatingPasswordEncoder" class="org.springframework.security.crypto.factory.PasswordEncoderFactories"/>

    <http pattern="/**" use-expressions="true" name="restSecurityFilterChain" create-session="stateless">
        <http-basic/>
        <intercept-url pattern="/rest/register" access="isAnonymous()"/>
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/**" access="isAuthenticated()"/>
        <csrf disabled="true"/>
    </http>
    <!--<http>-->
        <!--<intercept-url pattern="/login" access="isAnonymous()"/>-->
        <!--<intercept-url pattern="/register" access="isAnonymous()"/>-->
        <!--<intercept-url pattern="/**/admin/**" access="hasRole('ROLE_ADMIN')"/>-->
        <!--<intercept-url pattern="/**" access="isAuthenticated()"/>-->
        <!--<form-login login-page="/login"-->
                    <!--authentication-failure-url="/login?error=true"-->
                    <!--login-processing-url="/spring_security_check"-->
                    <!--authentication-success-handler-ref="customAuthenticationHandler"/>-->
        <!--<logout logout-success-url="/login"/>-->
        <!--&lt;!&ndash;<csrf disabled="true"/>&ndash;&gt;-->
    <!--</http>-->

    <beans:bean id="customAuthenticationHandler" class="zbsmirnova.votingforrestaurants.util.CustomAuthenticationHandler"/>

    <authentication-manager>
        <authentication-provider user-service-ref="userService">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>
</beans:beans>